#camera {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    top: 15%;
    right: 2%;
    position: absolute;
    z-index: 100;
    padding: 35px;
    border-radius: 25px;
    height: 650;
}

#photo {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.dots {
    height: 30%;
    z-index: 99999999999;
    left: 17%;
    top: 56%;
    position: absolute;
}

#head-overlay {
    background-color: rgba(224, 224, 224, 0.8);
    top: 15%;
    right: 2.1%;
    position: absolute;
    padding: 35px;
    border-radius: 25px;
    height: 650;
    width: 843;
    z-index: 99999999999;
    opacity: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    opacity: 0 !important;
    display: none;
    transition: 0.5s linear;
}

#face-icon{
    width: 45%;
    opacity: 0.5;
}

.map-bg{
    background-image:url(/static/img/map.png) !important;
    opacity: 1 !important;
    transition: 1.5s linear;
}

#error{
    position:absolute;
    opacity:0.8;
    width:42%;
}
#bubble{
    position:absolute;
    width:20%;
    opacity:1;
    top:10%;
    right:21%;
}

.dot {
  width: 40px;
  height: 40px;
  border: 2px solid #6184D8;
  border-radius: 50%;
  float: left;
  margin: 0 5px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: fx 1000ms ease infinite 0ms;
          animation: fx 1000ms ease infinite 0ms;
}
.dot:nth-child(2) {
  -webkit-animation: fx 1000ms ease infinite 300ms;
          animation: fx 1000ms ease infinite 300ms;
}
.dot:nth-child(3) {
  -webkit-animation: fx 1000ms ease infinite 600ms;
          animation: fx 1000ms ease infinite 600ms;
}
@-webkit-keyframes fx {
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fx {
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}