<html>
<head>
    <title>SpartaHacks</title>
    <link rel="stylesheet" href="/static/css/webcam.css">
</head>

<body>
<input id="class"/>
<br/>
<br/>
<video id="camera" autoplay></video>

<canvas id="photo"></canvas>
<br/><br/>
<button id="snap">Take picture!</button>


</body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="/static/js/adapter.js"></script>
<script src="/static/js/train.js"></script>
</html>
