<html>
<head>
    <title>SpartaHacks</title>
    <link rel="stylesheet" href="/static/css/train.css">
</head>

<body>
<h2>Input Classification</h2>
<input id="classification"/>
<br/>
<br/>
<video id="camera" autoplay></video>

<div id="photo_container">

</div>
<br/><br/>
<button id="snap">Capture!</button>


</body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="/static/js/adapter.js"></script>
<script src="/static/js/train.js"></script>
</html>
