{% extends 'layout/default.html' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/static/css/webcam.css">

{% endblock %}

{% block body %}
    <nav class="blue">
        <div class="nav-wrapper">
            <img href="#" class="brand-logo" src="/static/img/gestur-logo.png"></img>
        </div>
    </nav>

    <div class="container">
        <div class="row">
{#            <div class="dot green darken-1"></div>#}
            <video class="grey lighten-2" id="camera" autoplay></video>
        </div>
        <div class="row">
            <button id="snap">Take picture!</button>

            <canvas id="photo" height="64" width="64"></canvas>
        </div>
    </div>


    <footer class="page-footer blue">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <br><br>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block scripts %}
    <script src="/static/js/adapter.js"></script>
    <script src="/static/js/webcam.js"></script>
{% endblock %}