<html>
<head>
    <title>SpartaHacks</title>
    <link rel="stylesheet" href="/static/css/webcam.css">
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon"/>
</head>

<body>
<video id="camera" autoplay></video>
<button id="snap">Take picture!</button>
<canvas id="photo"></canvas>


</body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="/static/js/adapter.js"></script>
<script src="/static/js/webcam.js"></script>
</html>
